<template>
    <category-create></category-create>
</template>
<script>
    import CategoryCreate from './template/create';
    export default {
      name: 'Category',
      data () {
        return {
        }
      },
      components: {
        CategoryCreate
      }
    }
</script>
