<template>
    <category-edit></category-edit>
</template>
<script>
    import CategoryEdit from './template/edit';
    export default {
      name: 'Category',
      data () {
        return {
        }
      },
      components: {
        CategoryEdit
      }
    }
</script>
