<template>
    <category-index></category-index>
</template>
<script>
    import CategoryIndex from './template/index';
    export default {
      name: 'Category',
      data () {
        return {
        }
      },
      components: {
        CategoryIndex
      }
    }
</script>
