<template>
  <div class="wrapper-content">
      <div class="header-content">
        <span class="header-title">Create</span>
        <b-button :to="{name: 'admin.category'}" variant="primary" class="float-right">
          <i class="fas fa-list-ul"></i>
          <span>List</span>
        </b-button>
      </div>
      <b-form inline>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="category_name">Category Name</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="category_name" placeholder="Category Name" />
          </div>
        </div>
        <div class="form-group">
          <b-button variant="primary">Save</b-button>
        </div>
      </b-form>
  </div>
</template>

<script>
    export default {
    }
</script>
