<template>
  <div class="wrapper-content">
      <div class="header-content">
        <span class="header-title">List</span>
        <b-button :to="{name: 'admin.category.create'}" variant="primary" class="float-right">
          <i class="fas fa-plus-circle"></i>
          <span>Create</span>
        </b-button>
      </div>
      <b-table bordered responsive :items="items" :fields="fields">
        <template slot="action" slot-scope="data">
          <b-button variant="primary" size="sm" :to="{name: 'admin.category.edit'}">
            <i class="far fa-edit"></i>
          </b-button>
          <b-button variant="danger" size="sm">
            <i class="far fa-trash-alt"></i>
          </b-button>
        </template>
      </b-table>
      <div class="pagination float-right">
        <b-pagination size="md" :total-rows="100" v-model="currentPage" :per-page="10"></b-pagination>
      </div>
  </div>
</template>

<script>
    export default {
      data () {
        return {
          fields: [
            {
              key: 'name',
              sortable: true,
              thClass: 'text-center'
            },
            {
              key: 'date_created',
              sortable: true,
              thClass: 'text-center'
            },
            {
              key: 'date_updated',
              sortable: true,
              thClass: 'text-center'
            },
            {
              key: 'action',
              sortable: false,
              class: 'text-center',
              thStyle: {width: '120px'}
              // Variant applies to the whole column, including the header and footer
              // variant: 'danger'
            }
          ],
          items: [
            { isActive: true, name: 'Iphone' },
            { isActive: true, name: 'Samsung' },
            { isActive: true, name: 'Opple' },
            { isActive: true, name: 'Nokia' },
          ],
          currentPage: 3
        }
      }
    }
</script>
