<template>
    <dashboard-index></dashboard-index>
</template>
<script>
    import DashboardIndex from './template/index';
    export default {
      name: 'Dashboard',
      data () {
        return {
        }
      },
      components: {
        DashboardIndex
      }
    }
</script>
