<template>
    <product-create></product-create>
</template>
<script>
    import ProductCreate from './template/create';
    export default {
      name: 'User',
      data () {
        return {
        }
      },
      components: {
        ProductCreate
      }
    }
</script>
