<template>
  <div class="wrapper-content">
      <div class="header-content">
        <span class="header-title">List</span>
        <b-button :to="{name: 'admin.user.create'}" variant="primary" class="float-right">
          <i class="fas fa-plus-circle"></i>
          <span>Create</span>
        </b-button>
      </div>
      <b-table bordered responsive :items="items" :fields="fields">
        <template slot="action" slot-scope="data">
          <b-button variant="primary" size="sm" :to="{name: 'admin.user.edit'}">
            <i class="far fa-edit"></i>
          </b-button>
          <b-button variant="danger" size="sm">
            <i class="far fa-trash-alt"></i>
          </b-button>
        </template>
      </b-table>
      <div class="pagination float-right">
        <b-pagination size="md" :total-rows="100" v-model="currentPage" :per-page="10"></b-pagination>
      </div>
  </div>
</template>

<script>
    export default {
      data () {
        return {
          fields: [
            {
              key: 'last_name',
              sortable: true,
              thClass: 'text-center'
            },
            {
              key: 'first_name',
              sortable: false,
              thClass: 'text-center'
            },
            {
              key: 'email',
              sortable: true,
              thClass: 'text-center'
            },
            {
              key: 'phone',
              sortable: true,
              thClass: 'text-center'
            },
            {
              key: 'action',
              sortable: false,
              class: 'text-center',
              thStyle: {width: '120px'}
              // Variant applies to the whole column, including the header and footer
              // variant: 'danger'
            }
          ],
          items: [
            { isActive: true, email: 'admin@gmail.com', phone: '123456789', first_name: 'Dickerson', last_name: 'Macdonald' },
            { isActive: false, email: 'test@gmail.com', phone: '123456789', first_name: 'Larsen', last_name: 'Shaw' },
            { isActive: false, email: 'test123@gmail.com', phone: '123456789', first_name: 'Geneva', last_name: 'Wilson' },
            { isActive: true, email: 'test321@gmail.com', phone: '123456789', first_name: 'Jami', last_name: 'Carney' }
          ],
          currentPage: 3
        }
      }
    }
</script>
