<template>
    <register-index></register-index>
</template>
<script>
    import RegisterIndex from './template/register';
    export default {
      name: 'Register',
      data () {
        return {
        }
      },
      components: {
        RegisterIndex
      }
    }
</script>
