// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import 'width.css';
@import 'login.scss';
a{
    color: #000;
}
.btn {
    border-radius: 0 !important;
}
a:hover{
    text-decoration: none;
}
.no-padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.no-margin{
    margin-left: 0!important;
    margin-right: 0!important;
}
.row {
    margin-bottom: 20px;
}
.amcharts-chart-div a {
    display:none !important;
}
.hidden {
    display: none !important;
}
.logo-header{
    width: 100px;
    height: 100px;
}
input, select, textarea {
    border-radius: 0!important;
}
#wrapper-admin {
    /* Header */
    .header {
        height: 60px;
        line-height: 60px;
        color: #fff;
    }
    .toggle-sidebar {
        width: 230px;
        display: inline-block;
        vertical-align: middle;
        .fa-bars {
            font-size: 25px;
        }
        a {
            color: #000;
        }
        .logo-header{
            width: 50px;
            height: 50px;
        }
        .wrapper-logo{
            display: inline-block;
            width: 85%;
            text-align: center;
        }
    }
    .auth ul li {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
    }
    .btn-auth {
        background-color: #f5f8fa;
        border: none;
        color: #48576a;
    }
    .btn-auth:focus { 
        outline: none; 
    }
    .auth ul li:hover {
        background-color: #f1f1f1;
    }
    /* End Header */
    /* Sidebar */
    .navbar-laravel {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }
    .sidebar-nav {
        // flex: 0 0 230px;
        width: 230px;
    }
    .toggle-nav {
        // flex: 0 0 230px;
        width: 60px;
        ul li span {
            display: none;
        }
    }
    ul.sidenav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        // position: fixed;
        height: 100%;
        overflow: auto;
        display: block;
        width: inherit;
        li{
            border-top: 1px solid #ffffff;
            .router-link-exact-active {
                background-color: #d1dbe5;
                color: #48576a;
                padding: 15px 16px;
            }
            span {
                font-size: 15px;
                margin-left: 5px;
                margin-top: 5px;
            }
            a {
                display: block;
                color: #48576a;
                padding: 15px 16px;
                text-decoration: none;
            }
        }
        .submenu-active >a{
            background-color: #d1dbe5;
        }
        > li > a:hover:not(.router-link-exact-active) {
            background-color: #d1dbe5;
            color: #48576a;
            padding: 15px 16px;
            border-left: 5px solid #20a0ff;
            cursor: pointer;
        }
    }
    ul.sidebar-submenu {
        list-style-type: none;
        padding-left: 0;
        li span {
            margin-left: 30px;
        }
        li:hover {
            background-color: #d1dbe5;
        }
    }
    .sidebar-submenu:not(.active) {
        display: none; 
    }
    .sidebar-submenu.active {
        display: block;
    }
    .fa, .fas, .fab {
        font-weight: 900;
        font-size: 18px;
    }
    /* End Sidebar */
    /* Content */
    .wrapper-page {
        display: flex;
        position: absolute;
        top: 60px;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        background-color: #ffffff;
    }
    .main-content{
        flex: 1;
        overflow: auto;
        padding: 20px;
    }
    .header-content {
        position: relative;
        top: -20px;
        // background: #d1dbe5;
        padding: 10px;
        height: 56px;
        line-height: 36px;
        margin-left: -20px;
        margin-right: -20px;
        box-shadow: 0 0 10px;
        .btn {
            margin-right: 5px;
        }
    }
    .content {
        margin-top: 10px;
        .wrap-box {
            margin-left:-20px;
            margin-right:-20px;
            .box-board {
                padding: 0 20px;
                margin-bottom: 10px;
                .box {
                    background-color: #ffffff;
                    box-shadow: 2px 2px 15px 0px #ccc;
                    padding: 20px 10px;
                    .far, .fab, .fas {
                        color: #20a0ff;
                        font-size: 30px;
                    }
                }
            }
        }
        
    }
    .header-title {
        font-size: 20px;
        font-weight: 500;
    }
    .btn-group-top {
        text-align: right;
    }
    .form-group {
        width: 100%;
        // padding: 10px;
    }
    .form-group label{
    justify-content: left;
    font-weight: 600;
    }
    .form-control {
        width: 100% !important;
    }
}