div#wrapper-login {
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    background-color: #f5f8fa;
    color: #48576a;
    box-shadow: 0 0 20px #ccc;
    .header-title {
        font-size: 20px;
        font-weight: 700;
    }
    input {
        border-radius: 0;
    }
    .form-group {
        width: 100%;
        padding: 10px;
        margin-bottom: 0 !important;
    }
    .form-group label{
        justify-content: left;
        font-weight: 600;
    }
    .btn-login {
        width: 100%;
    }
}
