.w-10 {
    width: 10% !important;
    min-width: 10%;
}
.w-15 {
    width: 15% !important;
    min-width: 15%;
}
.w-20 {
    width: 20% !important;
    min-width: 20%;
}
.w-30 {
    width: 30% !important;
    min-width: 30%;
}
.w-40 {
    width: 40% !important;
    min-width: 40%;
}
.w-50 {
    width: 50% !important;
    min-width: 50%;
}
.w-60 {
    width: 60% !important;
    min-width: 60%;
}
.w-70 {
    width: 70% !important;
    min-width: 70%;
}
.w-80 {
    width: 80% !important;
    min-width: 80%;
}
.w-90 {
    width: 90% !important;
    min-width: 90%;
}
.w-100 {
    width: 100% !important;
    min-width: 100%;
}
