<template>
  <div class="wrapper-content">
      <div class="header-content">
        <span class="header-title">Edit User</span>
        <b-button :to="{name: 'admin.user'}" variant="primary" class="float-right">
          <i class="fas fa-list-ul"></i>
          <span>List User</span>
        </b-button>
      </div>
      <b-form inline>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="first_name">First Name</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="first_name" placeholder="First Name" />
          </div>
        </div>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="last_name">Last Name</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="last_name" placeholder="Last Name" />
          </div>
        </div>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="email">Email</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="email" placeholder="Email" />
          </div>
        </div>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="user_name">User Name</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="user_name" placeholder="User Name" />
          </div>
        </div>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="password">Password</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="password" type="password" placeholder="Password" />
          </div>
        </div>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="password_confirm">Password Confirm</label>
          <div class="w-30">
            <b-input class="mb-2 mr-sm-2 mb-sm-0" id="password_confirm" type="password" placeholder="Password Confirm" />
          </div>
        </div>
        <div class="form-group">
          <label class="mr-sm-2 w-15" for="user_type">User Type</label>
          <div class="w-30">
            <b-form-select class="mb-3">
              <option :value="null">Please select an option</option>
              <option value="1">Owner</option>
              <option value="2">Customer</option>
              <option value="3">Agency</option>
              <option value="4">Other</option>
            </b-form-select>
          </div>
        </div>
        <div class="form-group">
          <b-button variant="primary">Update</b-button>
        </div>
      </b-form>
  </div>
</template>

<script>
    export default {
    }
</script>
