<template>
  <div class="container" id="wrapper-login">
    <div class="header-title text-center">
      <!-- <span>Login</span> -->
      <img src="/images/login_user-01.png" alt="">
    </div>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-login">Sign In</button>
      </div>
    </form>
  </div>
</template>

<script>
    export default {
      data () {
        return {
        }
      }
    }
</script>
