<template>
  <div class="container" id="wrapper-login">
    <div class="header-title text-center">
      <!-- <span>Login</span> -->
      <img src="/images/logo.png" class="logo-header">
    </div>
    <form>
        <div class="form-group">
            <label for="email">User Name</label>
            <input type="text" class="form-control" id="username" placeholder="User Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="conf_pwd">Confirm Password</label>
            <input type="password" class="form-control" id="conf_pwd" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox"> I agree terms & conditions</label>
            </div>
            <button type="submit" class="btn btn-primary btn-login">Sign Up</button>
        </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
