<template>
    <div class="wrapper-content">
        <div class="header-content">
            <span class="header-title">Form Elements</span>
        </div>
        <div class="content">
            <b-card>
                <div class="row">
                    <div class="col-md-5">
                        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                            <b-form-group id="exampleInputGroup1"
                                            label="Email address:"
                                            label-for="exampleInput1">
                                <b-form-input id="exampleInput1"
                                            type="email"
                                            v-model="form.email"
                                            required
                                            placeholder="Enter email">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup2"
                                            label="Your Name:"
                                            label-for="exampleInput2">
                                <b-form-input id="exampleInput2"
                                            type="text"
                                            v-model="form.name"
                                            required
                                            placeholder="Enter name">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup3"
                                            label="Password:"
                                            label-for="password">
                                <b-form-input id="exampleInput3"
                                            type="password"
                                            v-model="form.password"
                                            required
                                            placeholder="Password">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup4"
                                            label="Food:"
                                            label-for="exampleInput4">
                                <b-form-select id="exampleInput4"
                                            :options="foods"
                                            required
                                            v-model="form.food">
                                </b-form-select>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup5"
                                            label="Disabled:"
                                            label-for="disabled">
                                <b-form-input id="exampleInput5"
                                            type="text"
                                            v-model="form.disabled"
                                            required
                                            disabled
                                            placeholder="Disabled">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup6"
                                            label="Readonly:"
                                            label-for="readonly">
                                <b-form-input id="exampleInput6"
                                            type="text"
                                            v-model="form.readonly"
                                            required
                                            readonly
                                            placeholder="Readonly">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup7"
                                            label="Textarea:"
                                            label-for="textarea">
                                <b-form-textarea id="textarea1"
                                            v-model="form.textarea"
                                            placeholder="Enter something"
                                            :rows="3"
                                            :max-rows="6">
                                </b-form-textarea>
                            </b-form-group>
                            <b-form-group id="exampleInputGroup8"
                                            label="Image:"
                                            label-for="image">
                                <b-form-file 
                                    v-model="file" 
                                    :state="Boolean(file)" 
                                    placeholder="Choose a file...">
                                </b-form-file>
                            </b-form-group>
                            
                            <b-button type="submit" variant="primary">Submit</b-button>
                            <b-button type="reset" variant="danger">Reset</b-button>
                        </b-form>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <b-form-group id="exampleGroup9"
                                label="Checked:"
                                label-for="checked"
                            >
                            <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
                                <b-form-checkbox value="me">Check me out</b-form-checkbox>
                                <br>
                                <b-form-checkbox value="that">Check that out</b-form-checkbox>
                            </b-form-checkbox-group>
                        </b-form-group>
                        <b-form-group label="Radios using sub-components">
                            <b-form-radio-group id="radios2" v-model="selected" name="radioSubComponent">
                                <b-form-radio value="first">Toggle this custom radio</b-form-radio><br>
                                <b-form-radio value="second">Or toggle this other custom radio</b-form-radio><br>
                                <b-form-radio value="third" disabled>This one is Disabled</b-form-radio><br>
                                <b-form-radio :value="{fourth: 4}">This is the 4th radio</b-form-radio>
                            </b-form-radio-group>
                        </b-form-group>
                        <b-form-group id="exampleInputGroup9"
                                        label="Single select:"
                                        label-for="select">
                            <singleselect 
                                v-model="valueSingle" 
                                :options="optionsSingle" 
                                :searchable="false" 
                                :close-on-select="false" 
                                :show-labels="false" 
                                placeholder="Pick a value">
                            </singleselect>
                        </b-form-group>
                        <b-form-group id="exampleInputGroup10"
                                        label="Search select:"
                                        label-for="select">
                            <searchselect 
                                v-model="valueSearch" 
                                :options="optionsSearch" 
                                :custom-label="nameWithLang" 
                                placeholder="Select one" 
                                label="name" track-by="name">
                            </searchselect>
                        </b-form-group>
                        <b-form-group id="exampleInputGroup11"
                                        label="Multile select:"
                                        label-for="select">
                            <multiselect 
                                v-model="valueMultile" 
                                :options="optionsMultile" 
                                :multiple="true" 
                                :close-on-select="false" 
                                :clear-on-select="false" 
                                :hide-selected="true" 
                                :preserve-search="true" 
                                placeholder="Pick some" 
                                label="name" track-by="name" 
                                :preselect-first="true">
                                    <template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option.language }}</span><span class="custom__remove" @click="props.remove(props.option)">❌</span></span></template>
                            </multiselect>
                        </b-form-group>
                        <b-form-group id="exampleInputGroup12"
                                        label="Tagging select:"
                                        label-for="select">
                            <taggingselect 
                                v-model="valueTagging" 
                                tag-placeholder="Add this as new tag" 
                                placeholder="Search or add a tag" 
                                label="name" track-by="code" 
                                :options="optionsTagging" 
                                :multiple="true" 
                                :taggable="true" @tag="addTag">
                            </taggingselect>
                        </b-form-group>
                    </div>
                </div>
            </b-card>
        </div>
    </div>
</template>
      
<script>
import Singleselect     from 'vue-multiselect';
import Searchselect     from 'vue-multiselect';
import Multileselect    from 'vue-multiselect';
import Taggingselect    from 'vue-multiselect';

  // register globally
//   Vue.component('multiselect', Multiselect)
export default {
    components: { Singleselect, Searchselect, Multileselect, Taggingselect },
    data () {
        return {
            form: {
                email: '',
                name: '',
                food: null,
                checked: [],
            },
            foods: [
                { text: 'Select One', value: null },
                'Carrots', 'Beans', 'Tomatoes', 'Corn'
            ],
            file: null,
            show: true,
            selected: 'first',
            valueSingle: '',
            optionsSingle: ['Select option', 'options', 'selected', 'mulitple', 'label', 'searchable', 'clearOnSelect', 'hideSelected', 'maxHeight', 'allowEmpty', 'showLabels', 'onChange', 'touched'],
            valueSearch: { name: 'Vue.js', language: 'JavaScript' },
            optionsSearch: [
                { name: 'Vue.js', language: 'JavaScript' },
                { name: 'Rails', language: 'Ruby' },
                { name: 'Sinatra', language: 'Ruby' },
                { name: 'Laravel', language: 'PHP' },
                { name: 'Phoenix', language: 'Elixir' }
            ],
            valueMultile: [],
            optionsMultile: [
                { name: 'Vue.js', language: 'JavaScript' },
                { name: 'Adonis', language: 'JavaScript' },
                { name: 'Rails', language: 'Ruby' },
                { name: 'Sinatra', language: 'Ruby' },
                { name: 'Laravel', language: 'PHP' },
                { name: 'Phoenix', language: 'Elixir' }
            ],
            valueTagging: [
                { name: 'Javascript', code: 'js' }
            ],
            optionsTagging: [
                { name: 'Vue.js', code: 'vu' },
                { name: 'Javascript', code: 'js' },
                { name: 'Open Source', code: 'os' }
            ]
        }
    },
    methods: {
        onSubmit (evt) {
            evt.preventDefault();
            alert(JSON.stringify(this.form));
        },
        onReset (evt) {
            evt.preventDefault();
            /* Reset our form values */
            this.form.email = '';
            this.form.name = '';
            this.form.food = null;
            this.form.checked = [];
            /* Trick to reset/clear native browser form validation state */
            this.show = false;
            this.$nextTick(() => { this.show = true });
        },
        nameWithLang ({ name, language }) {
            return `${name} — [${language}]`
        },
        addTag (newTag) {
            const tag = {
                name: newTag,
                code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
            }
            this.options.push(tag);
            this.value.push(tag);
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
