<template>
    <user-index></user-index>
</template>
<script>
    import UserIndex from './template/index';
    export default {
      name: 'User',
      data () {
        return {
        }
      },
      components: {
        UserIndex
      }
    }
</script>
