<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>Laravel - Vue</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
