<template>
    <div id="main-wrapper">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="page-wrapper">
            <div class="main-content">
              <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
  import AppHeader from './header.vue'
  import AppSidebar from './sidebar.vue'
  export default {
    components: {
            AppHeader, AppSidebar
        },
  }
</script>
