<template>
  <div class="sidebar-nav">
    <!-- <div class="well"> -->
        <ul class="nav sidenav">
            <!-- <li class="nav-header">Admin Menu</li> -->
            <li>
                <router-link :to="{name: 'dashboard'}">
                  <i class="fas fa-home"></i>
                  <span>Dashboard</span>
                </router-link>
            </li>
            <li>
                <router-link :to="{name: 'admin.user'}">
                  <i class="fas fa-users"></i>
                  <span>User</span>
                </router-link>
            </li>
            <li>
                <router-link :to="{name: 'admin.product'}">
                  <i class="fab fa-bitcoin"></i>
                  <span>Product</span>
                </router-link>
            </li>
            <li>
                <router-link :to="{name: 'admin.category'}">
                  <i class="fas fa-book"></i>
                  <span>Category</span>
                </router-link>
            </li>
            <li class="divider"></li>
            <li>
                <router-link :to="{name: 'admin.setting'}">
                  <i class="fas fa-cog"></i>
                  <span>Setting</span>
                </router-link>
            </li>
            <li>
                <router-link to="/logout">
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Logout</span>
                </router-link>
            </li>
        </ul>
    <!-- </div> -->
  </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
