<template>
    <div class="wrapper-content">
        <div class="header-content">
            <span class="header-title">Dashboard</span>
        </div>
        <div class="content">
            <div class="row wrap-box">
                <div class="col-md-3 box-board text-center">
                    <div class="box">
                        <i class="far fa-user"></i>
                        <div class="box-number">1.000.000</div>
                        <div class="box-text">Users</div>
                    </div>
                </div>
                <div class="col-md-3 box-board text-center">
                    <div class="box">
                        <i class="far fa-address-book"></i>
                        <div class="box-number">1.000.000</div>
                        <div class="box-text">Products</div>
                    </div>
                </div>
                <div class="col-md-3 box-board text-center">
                    <div class="box">
                        <i class="fab fa-amazon"></i>
                        <div class="box-number">1.000.000</div>
                        <div class="box-text">Payments</div>
                    </div>
                </div>
                <div class="col-md-3 box-board text-center">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="box-number">1.000.000</div>
                        <div class="box-text">Sales</div>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <b-card>
                        <h3>{{ title_column }}</h3>
                        <div id="chartColumn" style="width: 100%; height: 400px;"></div>
                    </b-card>
                </div>
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <b-card>
                        <h3>{{ title_column }}</h3>
                        <div id="chartdiv1" style="width: 100%; height: 400px;"></div>
                    </b-card>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <b-card>
                        <h3>{{ title_column }}</h3>
                        <div id="chartdiv" style="width: 100%; height: 400px;"></div>
                    </b-card>
                </div>
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <b-card>
                        <h3>{{ title_pie }}</h3>
                        <div id="chartPie" style="width: 100%; height: 400px;"></div>
                    </b-card>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <b-card>
                        <h3>{{ title_column }}</h3>
                        <div id="chart3D" style="width: 100%; height: 400px;"></div>
                    </b-card>
                </div>
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <b-card>
                        <h3>{{ title_column }}</h3>
                        <div id="chartdiv2" style="width: 100%; height: 400px;"></div>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    // LineChart.js
    
    export default {
        name: 'app',
        data() {
            return {
                title_column: 'Welcome to Your Vue.js + amCharts App(Chart Column)',
                title_pie: 'Welcome to Your Vue.js + amCharts App(Chart Pie)'
            }
        },
        mounted () {
            AmCharts.makeChart("chartColumn", {
                "type": "serial",
                "theme": "light",
                "dataProvider": [{
                    "country": "USA",
                    "visits": 2025
                }, {
                    "country": "China",
                    "visits": 1882
                }, {
                    "country": "Japan",
                    "visits": 1809
                }, {
                    "country": "Germany",
                    "visits": 1322
                }, {
                    "country": "UK",
                    "visits": 1122
                }, {
                    "country": "France",
                    "visits": 1114
                }, {
                    "country": "India",
                    "visits": 984
                }, {
                    "country": "Spain",
                    "visits": 711
                }, {
                    "country": "Netherlands",
                    "visits": 665
                }, {
                    "country": "Russia",
                    "visits": 580
                }, {
                    "country": "South Korea",
                    "visits": 443
                }, {
                    "country": "Canada",
                    "visits": 441
                }, {
                    "country": "Brazil",
                    "visits": 395
                }],
                "graphs": [{
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "visits"
                }],
                "categoryField": "country",
                "valueAxes": [{
                    // "title": "A very long axis title that does not fit the chart height, and needs to be truncated."
                }]
            });
            AmCharts.makeChart("chartPie", {
                "type": "pie",
                "theme": "light",
                "outlineColor": "",
                "dataProvider": [{
                    "country": "Lithuania",
                    "litres": 501.9
                }, {
                    "country": "Czech Republic",
                    "litres": 301.9
                }, {
                    "country": "Ireland",
                    "litres": 201.1
                }, {
                    "country": "Germany",
                    "litres": 165.8
                }, {
                    "country": "Australia",
                    "litres": 139.9
                }, {
                    "country": "Austria",
                    "litres": 128.3
                }, {
                    "country": "UK",
                    "litres": 99
                }, {
                    "country": "Belgium",
                    "litres": 60
                }, {
                    "country": "The Netherlands",
                    "litres": 50
                }],
                "valueField": "litres",
                "titleField": "country",
                "balloon": {
                    "fixedPosition": true
                }
            });
            AmCharts.makeChart("chartdiv", {
                "type": "pie",
                "startDuration": 0,
                "theme": "light",
                "addClassNames": true,
                "legend":{
                    "position":"right",
                    "marginRight":100,
                    "autoMargins":false
                },
                "innerRadius": "30%",
                "defs": {
                    "filter": [{
                    "id": "shadow",
                    "width": "200%",
                    "height": "200%",
                    "feOffset": {
                        "result": "offOut",
                        "in": "SourceAlpha",
                        "dx": 0,
                        "dy": 0
                    },
                    "feGaussianBlur": {
                        "result": "blurOut",
                        "in": "offOut",
                        "stdDeviation": 5
                    },
                    "feBlend": {
                        "in": "SourceGraphic",
                        "in2": "blurOut",
                        "mode": "normal"
                    }
                    }]
                },
                "dataProvider": [{
                    "country": "Lithuania",
                    "litres": 501.9
                }, {
                    "country": "Czech Republic",
                    "litres": 301.9
                }, {
                    "country": "Ireland",
                    "litres": 201.1
                }, {
                    "country": "Germany",
                    "litres": 165.8
                }, {
                    "country": "Australia",
                    "litres": 139.9
                }, {
                    "country": "Austria",
                    "litres": 128.3
                }, {
                    "country": "UK",
                    "litres": 99
                }, {
                    "country": "Belgium",
                    "litres": 60
                }, {
                    "country": "The Netherlands",
                    "litres": 50
                }],
                "valueField": "litres",
                "titleField": "country",
                "export": {
                    "enabled": true
                }
            });
            AmCharts.makeChart("chart3D", {
                "theme": "light",
                "type": "serial",
                "startDuration": 2,
                "dataProvider": [{
                    "country": "USA",
                    "visits": 4025,
                    "color": "#FF0F00"
                }, {
                    "country": "China",
                    "visits": 1882,
                    "color": "#FF6600"
                }, {
                    "country": "Japan",
                    "visits": 1809,
                    "color": "#FF9E01"
                }, {
                    "country": "Germany",
                    "visits": 1322,
                    "color": "#FCD202"
                }, {
                    "country": "UK",
                    "visits": 1122,
                    "color": "#F8FF01"
                }, {
                    "country": "France",
                    "visits": 1114,
                    "color": "#B0DE09"
                }, {
                    "country": "India",
                    "visits": 984,
                    "color": "#04D215"
                }, {
                    "country": "Spain",
                    "visits": 711,
                    "color": "#0D8ECF"
                }, {
                    "country": "Netherlands",
                    "visits": 665,
                    "color": "#0D52D1"
                }, {
                    "country": "Russia",
                    "visits": 580,
                    "color": "#2A0CD0"
                }, {
                    "country": "South Korea",
                    "visits": 443,
                    "color": "#8A0CCF"
                }, {
                    "country": "Canada",
                    "visits": 441,
                    "color": "#CD0D74"
                }, {
                    "country": "Brazil",
                    "visits": 395,
                    "color": "#754DEB"
                }, {
                    "country": "Italy",
                    "visits": 386,
                    "color": "#DDDDDD"
                }, {
                    "country": "Taiwan",
                    "visits": 338,
                    "color": "#333333"
                }],
                "valueAxes": [{
                    "position": "left",
                    "axisAlpha":0,
                    "gridAlpha":0
                }],
                "graphs": [{
                    "balloonText": "[[category]]: <b>[[value]]</b>",
                    "colorField": "color",
                    "fillAlphas": 0.85,
                    "lineAlpha": 0.1,
                    "type": "column",
                    "topRadius":1,
                    "valueField": "visits"
                }],
                "depth3D": 40,
                "angle": 30,
                "chartCursor": {
                    "categoryBalloonEnabled": false,
                    "cursorAlpha": 0,
                    "zoomable": false
                },
                "categoryField": "country",
                "categoryAxis": {
                    "gridPosition": "start",
                    "axisAlpha":0,
                    "gridAlpha":0

                },
                "export": {
                    "enabled": true
                }

            }, 0);
            AmCharts.makeChart("chartdiv1", {
                "type": "serial",
                "theme": "light",
                "marginRight": 70,
                "dataProvider": [{
                    "country": "USA",
                    "visits": 3025,
                    "color": "#FF0F00"
                }, {
                    "country": "China",
                    "visits": 1882,
                    "color": "#FF6600"
                }, {
                    "country": "Japan",
                    "visits": 1809,
                    "color": "#FF9E01"
                }, {
                    "country": "Germany",
                    "visits": 1322,
                    "color": "#FCD202"
                }, {
                    "country": "UK",
                    "visits": 1122,
                    "color": "#F8FF01"
                }, {
                    "country": "France",
                    "visits": 1114,
                    "color": "#B0DE09"
                }, {
                    "country": "India",
                    "visits": 984,
                    "color": "#04D215"
                }, {
                    "country": "Spain",
                    "visits": 711,
                    "color": "#0D8ECF"
                }, {
                    "country": "Netherlands",
                    "visits": 665,
                    "color": "#0D52D1"
                }, {
                    "country": "Russia",
                    "visits": 580,
                    "color": "#2A0CD0"
                }, {
                    "country": "South Korea",
                    "visits": 443,
                    "color": "#8A0CCF"
                }, {
                    "country": "Canada",
                    "visits": 441,
                    "color": "#CD0D74"
                }],
                "valueAxes": [{
                    "axisAlpha": 0,
                    "position": "left",
                    "title": "Visitors from country"
                }],
                "startDuration": 1,
                "graphs": [{
                    "balloonText": "<b>[[category]]: [[value]]</b>",
                    "fillColorsField": "color",
                    "fillAlphas": 0.9,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "visits"
                }],
                "chartCursor": {
                    "categoryBalloonEnabled": false,
                    "cursorAlpha": 0,
                    "zoomable": false
                },
                "categoryField": "country",
                "categoryAxis": {
                    "gridPosition": "start",
                    "labelRotation": 45
                },
                "export": {
                    "enabled": true
                }
            });
            AmCharts.makeChart("chartdiv2", {
                "theme": "light",
                "type": "serial",
                "startDuration": 2,
                "dataProvider": [{
                    "country": "USA",
                    "visits": 4025,
                    "color": "#FF0F00"
                }, {
                    "country": "China",
                    "visits": 1882,
                    "color": "#FF6600"
                }, {
                    "country": "Japan",
                    "visits": 1809,
                    "color": "#FF9E01"
                }, {
                    "country": "Germany",
                    "visits": 1322,
                    "color": "#FCD202"
                }, {
                    "country": "UK",
                    "visits": 1122,
                    "color": "#F8FF01"
                }, {
                    "country": "France",
                    "visits": 1114,
                    "color": "#B0DE09"
                }, {
                    "country": "India",
                    "visits": 984,
                    "color": "#04D215"
                }, {
                    "country": "Spain",
                    "visits": 711,
                    "color": "#0D8ECF"
                }, {
                    "country": "Netherlands",
                    "visits": 665,
                    "color": "#0D52D1"
                }, {
                    "country": "Russia",
                    "visits": 580,
                    "color": "#2A0CD0"
                }, {
                    "country": "South Korea",
                    "visits": 443,
                    "color": "#8A0CCF"
                }, {
                    "country": "Canada",
                    "visits": 441,
                    "color": "#CD0D74"
                }, {
                    "country": "Brazil",
                    "visits": 395,
                    "color": "#754DEB"
                }, {
                    "country": "Italy",
                    "visits": 386,
                    "color": "#DDDDDD"
                }, {
                    "country": "Australia",
                    "visits": 384,
                    "color": "#999999"
                }, {
                    "country": "Taiwan",
                    "visits": 338,
                    "color": "#333333"
                }, {
                    "country": "Poland",
                    "visits": 328,
                    "color": "#000000"
                }],
                "valueAxes": [{
                    "position": "left",
                    "title": "Visitors"
                }],
                "graphs": [{
                    "balloonText": "[[category]]: <b>[[value]]</b>",
                    "fillColorsField": "color",
                    "fillAlphas": 1,
                    "lineAlpha": 0.1,
                    "type": "column",
                    "valueField": "visits"
                }],
                "depth3D": 20,
                "angle": 30,
                "chartCursor": {
                    "categoryBalloonEnabled": false,
                    "cursorAlpha": 0,
                    "zoomable": false
                },
                "categoryField": "country",
                "categoryAxis": {
                    "gridPosition": "start",
                    "labelRotation": 90
                },
                "export": {
                    "enabled": true
                }
            });
        }
    }
</script>
