<template>
    <login-index></login-index>
</template>
<script>
    import LoginIndex from './template/login';
    export default {
      name: 'Login',
      data () {
        return {
        }
      },
      components: {
        LoginIndex
      }
    }
</script>
