<template>
    <product-edit></product-edit>
</template>
<script>
    import ProductEdit from './template/edit';
    export default {
      name: 'User',
      data () {
        return {
        }
      },
      components: {
        ProductEdit
      }
    }
</script>
