<template>
    <product-index></product-index>
</template>
<script>
    import ProductIndex from './template/index';
    export default {
      name: 'User',
      data () {
        return {
        }
      },
      components: {
        ProductIndex
      }
    }
</script>
