<template>
    <user-edit></user-edit>
</template>
<script>
    import UserEdit from './template/edit';
    export default {
      name: 'User',
      data () {
        return {
        }
      },
      components: {
        UserEdit
      }
    }
</script>
