<template>
    <user-create></user-create>
</template>
<script>
    import UserCreate from './template/create';
    export default {
      name: 'User',
      data () {
        return {
        }
      },
      components: {
        UserCreate
      }
    }
</script>
