<template>
    <div id="wrapper-admin">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="wrapper-page">
            <app-sidebar></app-sidebar>
            <div class="main-content">
              <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    import AppHeader from './header.vue'
    import AppSidebar from './sidebar.vue'
    export default {
        data: function () {
            return {
                istoggle: false,
                toggle: '111'
            }
        },
        components: {
            AppHeader, AppSidebar
        },
    }
</script>
