<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <router-link :to="{name: 'home'}">
                  <span>Laravel - Vue</span>
                </router-link> -->
                <div class="toggle-sidebar">
                    <div class="wrapper-logo" :class="{hidden : isShow}">
                        <img src="/images/logo.png" class="logo-header" alt="">
                    </div>
                    <a :class="{'float-right' : isFloat}" v-on:click="toggleSidebarH()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="dropdown float-right auth">
                    <button class="dropdown-toggle btn-auth" type="button" data-toggle="dropdown">Admin@admin.com
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu user-login-list">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin.login'}">
                                <span>Logout</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../../event-bus.js';
    export default {
        props: ['iconToggle'],
        data: function () {
            return {
                istoggle: false,
                isFloat: true,
                isShow : false
            }
        },
        methods: {
            toggleSidebarH: function (event) {
                if (this.istoggle) {
                    this.istoggle   =   false;
                    this.isFloat    =   true;
                } else {
                    this.istoggle   =   true;
                    this.isFloat    =   false;
                }
                this.isShow = !this.isShow;
                EventBus.$emit('toggleSidebarA', this.istoggle);
            },
        }
    }
</script>
