<template>
  <div class="sidebar-nav" v-bind:class="{'toggle-nav':isToggle}">
    <!-- <div class="well"> -->
        <ul class="nav sidenav">
            <!-- <li class="nav-header">Admin Menu</li> -->
            <li>
                <router-link 
                    :to="{name: 'dashboard'}"
                    >
                  <i class="fas fa-home"></i>
                  <span>Dashboard</span>
                </router-link>
            </li>
            <li class="sidebar-dropdown">
                <a v-on:click="setActive('table')">
                    <i class="fas fa-cog"></i>
                    <span>Tables</span>
                    <span class="fa float-right" v-bind:class="classObject('table')"></span>
                </a>
                <ul class="sidebar-submenu" 
                    v-bind:class="{ active: isActive('table') }">
                    <li v-on:click="activeMenu('simple', $event)" ref="simple" v-bind:class="{active : liActive('simple')}">
                        <router-link :to="{name: 'table.simple'}">
                            <span>Simple Tables</span>
                        </router-link>
                    </li>
                    <li v-on:click="activeMenu('advanced', $event)" ref="advanced" v-bind:class="{active : liActive('advanced')}">
                        <router-link :to="{name: 'table.advanced'}">
                            <span>Advanced Tables</span>
                        </router-link>
                    </li>
                </ul>
            </li>
            <li class="sidebar-dropdown">
                <a v-on:click="setActive('form')">
                    <i class="fas fa-cog"></i>
                    <span>Form</span>
                    <span class="fa float-right" v-bind:class="classObject('form')"></span>
                </a>
                <ul class="sidebar-submenu" 
                    v-bind:class="{ active: isActive('form') }">
                    <li v-on:click="activeMenu('element', $event)" ref="element" v-bind:class="{active : liActive('element')}">
                        <router-link :to="{name: 'form.element'}">
                            <span>Form Elements</span>
                        </router-link>
                    </li>
                    <li v-on:click="activeMenu('validate', $event)" ref="validate" v-bind:class="{active : liActive('validate')}">
                        <router-link :to="{name: 'form.validate'}">
                            <span>Form validations</span>
                        </router-link>
                    </li>
                    <li v-on:click="activeMenu('editor', $event)" ref="editor" v-bind:class="{active : liActive('editor')}">
                        <router-link :to="{name: 'form.editor'}">
                            <span>Form editors</span>
                        </router-link>
                    </li>
                    <li v-on:click="activeMenu('dropdown', $event)" ref="dropdown" v-bind:class="{active : liActive('dropdown')}">
                        <router-link :to="{name: 'form.dropdown'}">
                            <span>Dropdowns</span>
                        </router-link>
                    </li>
                    <li v-on:click="activeMenu('checkbox', $event)" ref="checkbox" v-bind:class="{active : liActive('checkbox')}">
                        <router-link :to="{name: 'form.checkbox'}">
                            <span>Radio & Checkbox</span>
                        </router-link>
                    </li>
                </ul>
            </li>
            <li v-on:click="activeMenu('user', $event)" ref="user" :class="{active : liActive('user')}">
                <router-link :to="{name: 'admin.user'}">
                  <i class="fas fa-users"></i>
                  <span>User</span>
                </router-link>
            </li>
            <li v-on:click="activeMenu('product', $event)" ref="product" :class="{active : liActive('product')}">
                <router-link :to="{name: 'admin.product'}">
                  <i class="fab fa-bitcoin"></i>
                  <span>Product</span>
                </router-link>
            </li>
            <li v-on:click="activeMenu('category', $event)" ref="category" :class="{active : liActive('category')}">
                <router-link :to="{name: 'admin.category'}">
                  <i class="fas fa-book"></i>
                  <span>Category</span>
                </router-link>
            </li>
            <li v-on:click="activeMenu('customer', $event)" ref="customer" :class="{active : liActive('customer')}">
                <router-link :to="{name: 'admin.customer'}">
                  <i class="fas fa-users"></i>
                  <span>Customer</span>
                </router-link>
            </li>
            <li v-on:click="activeMenu('order', $event)" ref="order" :class="{active : liActive('order')}">
                <router-link :to="{name: 'admin.order'}">
                  <i class="fas fa-folder-open"></i>
                  <span>Order</span>
                </router-link>
            </li>
            <li v-on:click="activeMenu('transport', $event)" ref="transport" :class="{active : liActive('transport')}">
                <router-link :to="{name: 'admin.transport'}">
                  <i class="fas fa-globe"></i>
                  <span>Transport</span>
                </router-link>
            </li>
            <!-- <li class="divider"></li> -->
            <li v-on:click="activeMenu('setting', $event)" ref="setting" :class="{active : liActive('setting')}">
                <router-link :to="{name: 'admin.setting'}">
                    <i class="fas fa-cog"></i>
                    <span>Setting</span>
                </router-link>
            </li>
            <li class="sidebar-dropdown">
                <a v-on:click="setActive('page')">
                    <i class="fas fa-cog"></i>
                    <span>Pages</span>
                    <span class="fa float-right" v-bind:class="classObject('page')"></span>
                </a>
                <ul class="sidebar-submenu" 
                    v-bind:class="{ active: isActive('page') }">
                    <li v-on:click="activeMenu('login', $event)" ref="login" :class="{active : liActive('login')}">
                        <router-link :to="{name: 'admin.login'}">
                            <span>Login</span>
                        </router-link>
                    </li>
                    <li v-on:click="activeMenu('register', $event)" ref="register" :class="{active : liActive('register')}">
                        <!-- <a href="#">Register</a> -->
                        <router-link :to="{name: 'admin.register'}">
                            <span>Register</span>
                        </router-link>
                    </li>
                </ul>
            </li>
        </ul>
    <!-- </div> -->
  </div>
</template>
<script>
    import { EventBus } from '../../event-bus.js';
    export default {
        data () {
            return {
                // chevron: 'fa-chevron-left',
                activeItem: '',
                isToggle: '',
                activeLi: ''
            }
        },
        created: function () {
            EventBus.$on('toggleSidebarA', (toggle) => {
                this.isToggle = toggle;
            })
        },
        mounted() {
        },
        methods: {
            classObject: function(menuItem) {
                if (this.isActive(menuItem)) {
                    return {
                        'fa-chevron-left'   :   false,
                        'fa-chevron-down'   :   true,
                    }
                } else {
                    return {
                        'fa-chevron-left'   :   true,
                        'fa-chevron-down'   :   false,
                    }
                }
            },
            isActive: function (menuItem) {
                return this.activeItem === menuItem
            },
            setActive: function (menuItem) {
                if (this.isActive(menuItem)) {
                    this.activeItem = !menuItem
                } else {
                    this.activeItem = menuItem
                }
            },
            liActive: function(active) {
                return this.activeLi === active
            },
            activeMenu: function(active, event) {
                $('.sidebar-dropdown').removeClass('submenu-active');
                if (event.path.length === 14) {
                    event.path[4].classList.add('submenu-active');
                } 
                if (event.path.length === 13) {
                    event.path[3].classList.add('submenu-active');
                }
                this.activeLi = active
            }
        },
    }
</script>
